@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(47, 148, 211);
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
    color: white;  
}
header h1 {
    padding: 20px;
}
section {
    background-color: white;
    color: black;
    width: 450px;
    margin: 10px auto;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.353);
    text-align: left;
    
}
#texto {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}
.select {
    padding: 10px;
}
div#texto p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}
div#texto p input#button {
    padding: 0 10px;
    font-size: 1em;
    background-color:yellow;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 89, 255, 0.975);
}
div img {
    display: block;
    width: 220px;
    height: 220px;
    margin: 20px auto;
}