@charset "UTF-80";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#clock {
    padding: 0px 50px;
    font-size: 175px;
    max-width: 1100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}
